/* Fonts */ 
$title-font: 'Montserrat', sans-serif;
$main-font: 'Roboto', sans-serif;

/* Color Scheme */
$main-color1: #080808 ;
$main-color2: #F7F7F7 ;
$yellow: #FFFB00 ;
$orange: #FFA60C ;
$l-blue: #00BFFF ;
$d-blue: #1600E0 ;
$purple: #9E008C ;
$green: #06AF00 ;


